:root {
    --sFontSize: 12px;
    --mFontSize: 14px;
    --lFontSize: 16px;
    --xlFontSize: 24px;
    --blackColor: #000;
    --whiteColor: #fff;
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../assets/Fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../assets/Fonts/Poppins-SemiBold.ttf);
}

body {
    background-image: url('../assets/images/background/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    height: calc(100vh - 16px);
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 16px);
}

/* User information css start */
.user-information-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue-box {
    height: 20px;
    padding: 5px;
    background-color: #411A5D;
    color: var(--whiteColor);
    font-family: Poppins-Medium;
    font-size: var(--lFontSize);
}

.game-id {
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw-time {
    text-align: center;
    line-height: 22px;
}

.time {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.balance {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon,
.account,
.password {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User information css end */

.center-area {
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

/* Wheel area css start */

.spin {
    animation: rotateImg 2s linear infinite;
}

.spinWheel {
    animation: rotateImg2 2s linear infinite;
}

@keyframes rotateImg2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}


.dWin {
    animation: dRotate 2s linear forwards;
}

@keyframes dRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-27deg);
    }
}

.cWin {
    animation: cRotate 3s linear forwards;
}

@keyframes cRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-50deg);
    }
}

.hWin {
    animation: hRotate 4s linear forwards;
}

@keyframes hRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-73deg);
    }
}

.sWin {
    animation: sRotate 5s linear forwards;
}

@keyframes sRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-97deg);
    }
}


@keyframes rotateImg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.qWin {
    animation: qRotate 2s linear forwards;
}

@keyframes qRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(20deg);
    }
}

.kWin {
    animation: kRotate 3s linear forwards;
}

@keyframes kRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(40deg);
    }
}

.aWin {
    animation: aRotate 4s linear forwards;
}

@keyframes aRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(65deg);
    }
}

.jWin {
    animation: jRotate 5s linear forwards;
}

@keyframes jRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(85deg);
    }
}

@media screen and (min-width: 1020px) and (max-width: 1300px) {
    .wheel-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        min-width: 30%;
        max-width: 30%;
    }

    .wheel-one {
        position: absolute;
        z-index: 5;
        width: 350px;
        object-fit: contain;
    }

    .wheel-two {
        position: absolute;
        width: 290px;
        z-index: 2;
        object-fit: contain;
        margin-top: 21px;
        margin-left: -2px;
        -webkit-transition: -webkit-transform 2s ease-out;
    }

    .wheel-three {
        position: absolute;
        width: 190px;
        z-index: 2;
        margin-left: 1px;
        margin-top: 22px;
        object-fit: contain;
    }

    .wheel-four {
        position: absolute;
        width: 80px;
        z-index: 2;
        transform: translate(0px, 22px);
        object-fit: contain;
    }

    .wheel-winner {
        position: absolute;
        width: 40px;
        z-index: 2;
        transform: translate(0px, 16px);
        object-fit: contain;
        visibility: hidden;
    }

    .wheel-winner-amount {
        position: absolute;
        width: 15px;
        z-index: 2;
        transform: translate(0px, 45px);
        object-fit: contain;
        visibility: hidden;
    }

    .buttons-area {
        width: 30%;
        min-width: 30%;
        max-width: 30%;
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        justify-content: center;
    }

    .all-aces>.all,
    .all-kings>.all,
    .all-queens>.all,
    .all-jokers>.all {
        position: absolute;
        top: 5%;
        font-family: Poppins-Medium;
        font-size: var(--sFontSize);
    }
}

@media screen and (min-width: 1300px) {
    .wheel-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        min-width: 35%;
        max-width: 35%;
    }

    .wheel-one {
        position: absolute;
        z-index: 5;
        width: 600px;
        object-fit: contain;
    }

    .wheel-two {
        position: absolute;
        width: 510px;
        z-index: 2;
        object-fit: contain;
        margin-top: 35px;
        margin-left: -5px;
        -webkit-transition: -webkit-transform 2s ease-out;
    }

    .wheel-three {
        position: absolute;
        width: 380px;
        z-index: 2;
        margin-left: -2px;
        margin-top: 36px;
        object-fit: contain;
    }

    .wheel-four {
        position: absolute;
        width: 200px;
        z-index: 2;
        transform: translate(0px, 38px);
        object-fit: contain;
    }

    .wheel-winner {
        position: absolute;
        width: 100px;
        z-index: 2;
        transform: translate(0px, 25px);
        object-fit: contain;
        visibility: hidden;
    }

    .wheel-winner-amount {
        position: absolute;
        width: 40px;
        z-index: 2;
        transform: translate(0px, 90px);
        object-fit: contain;
        visibility: hidden;
    }

    .buttons-area {
        width: 35%;
        min-width: 35%;
        max-width: 35%;
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        justify-content: center;
    }

    .all-aces>.all,
    .all-kings>.all,
    .all-queens>.all,
    .all-jokers>.all {
        position: absolute;
        top: 8%;
        font-family: Poppins-Medium;
        font-size: var(--sFontSize);
    }
}

/* Wheel area css end */

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: calc(100% - 10px);
}

.cards-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% / 6);
}

/* All Selection row (hearts, spades, diamonds, clubs) */
.all-sets {
    margin-bottom: 10px;
}

.all-hearts,
.all-spades,
.all-diamonds,
.all-clubs {
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(100% / 4);
    align-items: center;
}

.all-hearts>img,
.all-spades>img,
.all-diamonds>img,
.all-clubs>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.all-hearts>.all,
.all-spades>.all,
.all-diamonds>.all,
.all-clubs>.all {
    position: absolute;
    bottom: 1px;
    font-family: Poppins-Medium;
    font-size: var(--lFontSize);
}

.all-hearts>.play {
    position: absolute;
    top: 28%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.all-spades>.play {
    position: absolute;
    top: 30%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}

.all-diamonds>.play {
    position: absolute;
    top: 32%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.all-clubs>.play {
    position: absolute;
    top: 32%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}

/* Ace single selection row */
.heart-ace,
.spade-ace,
.diamond-ace,
.club-ace {
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(100% / 4);
    align-items: center;
}

.heart-ace>img,
.spade-ace>img,
.diamond-ace>img,
.club-ace>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.heart-ace>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.spade-ace>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}

.diamond-ace>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.club-ace>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}


/* King single selection row */
.heart-king,
.spade-king,
.diamond-king,
.club-king {
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(100% / 4);
    align-items: center;
}

.heart-king>img,
.spade-king>img,
.diamond-king>img,
.club-king>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.heart-king>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.spade-king>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}

.diamond-king>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.club-king>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}


/* Queen single selection row */
.heart-queen,
.spade-queen,
.diamond-queen,
.club-queen {
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(100% / 4);
    align-items: center;
}

.heart-queen>img,
.spade-queen>img,
.diamond-queen>img,
.club-queen>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.heart-queen>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.spade-queen>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}

.diamond-queen>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.club-queen>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}


/* Joker single selection row */
.heart-joker,
.spade-joker,
.diamond-joker,
.club-joker {
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(100% / 4);
    align-items: center;
}

.heart-joker>img,
.spade-joker>img,
.diamond-joker>img,
.club-joker>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.heart-joker>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.spade-joker>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}

.diamond-joker>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

.club-joker>span {
    position: absolute;
    top: 49%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--whiteColor);
}

/* End Center Cards Css */

/* Last 10 Winners box Css Start */
.winners-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 70px;
    max-height: 100px;
    border: 2px solid var(--blackColor);
    background: #002F77;
    border-radius: 5px;
    padding: 5px 0;
    width: 92%;
}

.last-win-conatiner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 10px);
    width: calc(100% / 10);
    margin: 0 5px;
}

.last-win-conatiner>img {
    height: calc(100% - 20px);
    min-height: calc(100% - 20px);
    max-height: calc(100% - 20px);
    width: 100%;
    visibility: hidden;
}

.last-win-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--whiteColor);
    min-height: 20px;
    width: 100%;
    background: var(--whiteColor);
    margin-top: 2px;
    border-radius: 3px;
    font-family: Poppins-Medium;
    font-size: var(--lFontSize);
    visibility: hidden;
}

/* Last 10 Winners box Css End */

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20%;
    max-height: calc(100% - 140px);
    min-height: calc(100% - 90px);
}

.timer {
    max-height: calc(100% / 5);
    min-height: calc(100% / 5);
    margin-left: 15%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

canvas {
    border: 2px solid #FDEE23;
    border-radius: 60px;
    object-fit: contain;
}

/* svg {
    object-fit: contain;
    height: 100%;
} */

.all-aces,
.all-kings,
.all-queens,
.all-jokers {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100% / 6);
    max-height: calc(100% / 6);
    margin-bottom: 10px;
    object-fit: contain;
    margin-left: 10%;
}

.all-aces>img,
.all-kings>img,
.all-queens>img,
.all-jokers>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.all-aces>.play,
.all-kings>.play,
.all-queens>.play,
.all-jokers>.play {
    position: absolute;
    top: 50%;
    right: 25%;
    font-family: Poppins-Medium;
    font-size: var(--mFontSize);
    color: var(--blackColor);
}

/* Bottom area starts */
.bottom-area {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.bet-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 30px;
}

.yellow-box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.yellow-box {
    height: 30px;
    width: 45%;
    background-color: #ED9309;
    border: 3px solid #DF8105;
}

.play-count {
    font-family: Poppins-SemiBold;
    font-size: var(--xlFontSize);
    color: var(--blackColor);
    padding-left: 5px;
    height: 32px;
}

.barcode {
    text-align: center;
}

input::placeholder {
    font-family: Poppins-SemiBold;
    font-size: var(--xlFontSize);
    color: var(--blackColor);
    transform: translateY(5px);
}

.coins-area {
    display: grid;
    gap: 10px;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
}

.coins-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coins-btn-container>img {
    width: 60px;
    height: 60px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 95%;
    margin: auto;
}

.btn-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    width: calc((100% / 4) - 10px);
    border: 2px solid #DAE648;
    background: #009E01;
    border-radius: 20px;
    color: var(--blackColor);
    font-family: Poppins-SemiBold;
    font-size: var(--xlFontSize);
}

.print-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    margin-left: 3%;
}

.print-area>img {
    width: 100px;
    height: 100px;
}

.btn {
    cursor: pointer;
}